.listPage {
  position: relative;
  display: flex;
  height: 100%;
  max-height: 100%;
  flex-direction: column;

  &.isEmptyState {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.contentWrapper {
  position: relative;
  min-height: 0;
  flex: 1;
}

.scrollableWrapper {
  position: absolute;
  inset: 0;
}

.list {
  max-height: 100%;
  padding: 0;
  padding-bottom: var(--size__600);
  margin: 0;
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  color: var(--color__black--400);
  font-size: 3rem;
}

.message {
  margin-top: var(--size__500);
  color: var(--color__black--500);
  font-size: var(--size__500);
}

.header {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid transparent;
  transition:
    border-bottom 200ms cubic-bezier(0.65, 0, 0.35, 1)
    box-shadow 200ms cubic-bezier(0.65, 0, 0.35, 1);

  .hasScrolledList & {
    border-bottom: 1px solid var(--color__black--200);
    box-shadow: hsl(206deg 22% 7% / 15%) 0 10px 38px -10px, hsl(206deg 22% 7% / 5%) 0 10px 20px -15px;
  }
}

.actions {
  display: flex;
  width: auto;
  flex-direction: column;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  flex-wrap: wrap;
  align-items: center;
  margin-top: var(--size__500);
}
