.wrapper {
  margin-bottom: var(--size__600);
}

.label {
  font-size: var(--text__large);
  font-weight: 600;
  line-height: var(--size__700);
  text-align: left;
  letter-spacing: -0.005rem;
}

.description {
  margin: 0;
  margin-bottom: var(--size__350);
}
