{
  // Let eslint know were working as a browser to allow the standard globals (document, window, etc.)
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "requireConfigFile": false
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },

  "plugins": [
    "@typescript-eslint"
  ],

  "rules": {
    // https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-unresolved.md
    // If you're using a module bundler other than Node or Webpack, you may end up with a lot of false positive reports of missing dependencies.
    // We are using Vite, and it is giving incorrect results for .ts files
    "import/no-unresolved": "off"
  },

  "extends": [
    "@edsc"
  ],

  // Define version settings
  "settings": {
    "react": {
      "pragma": "React",
      "version": "18.0.28"
    }
  }
}
