.sass-cache
/.idea
.DS_Store
tmp
/node_modules
/spec/build
/coverage
cypress/screenshots
cypress/videos
.nyc_output
dist
dist-electron
/test-results/
/playwright-report/
/playwright/.cache/
playwright-coverage
results.xml
docs/jsdoc
release
certs
