body {
  overflow-y: hidden;
}

.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 0 0;
  grid-template: "header" min-content "main" 1fr / 1fr;
}

.header {
  top: 0%;
  right: 0%;
  left: 0%;
  display: grid;
  height: 40px;
  justify-content: end;
  border-bottom: 1px solid var(--color__blue--200);
  -webkit-app-region: drag;
  background: var(--color__blue);
  color: #FFF;
  gap: 0 0;
  grid-area: header;
  grid-template: "actions ." 100% / 1fr auto;

  &.isMac {
    grid-template: ". actions" 100% / auto 1fr;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  grid-area: navigation;
  line-height: 16px;
}

.navButton {
  border: 1px solid transparent;
  border-radius: var(--size__100);
  margin-left: var(--size__050);
  -webkit-app-region: no-drag;
  background-color: var(--color__blue);
  color: var(--color__blue--050);
  outline-color: var(--color__blue--200);

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:focus-visible {
    border: 1px solid var(--color__blue--700);
    background-color: var(--color__blue--600);
    color: var(--color__blue--050);
    outline-color: var(--color__blue--200);
  }

  &.isActive {
    border: 1px solid var(--color__blue--600);
    background: var(--color__blue--600);
    color: var(--color__white);
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: var(--size__200);
  padding-left: var(--size__200);
  grid-area: actions;

  .isMac & {
    justify-content: flex-end;
  }
}

.settingsButton {
  composes: navButton;
  border: 1px solid var(--color__blue--700)
}

.main {
  width: 100%;
  background-color: var(--color__black--050);
  grid-area: main;
  overflow-y: auto;
}

.windowsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color__black--650);
  padding-left: var(--size__200);
}

.windowsButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: var(--size__200);
  color: var(--color__black--650);
}

.windowsClose{
  &:hover{
    background:  var(--color__red--500);
  }
}

.minMaxCloseButton {
  composes: navButton;
  &.isLinux {
    background-color: var(--color__blue--600);
    border-radius: 50px;
    font-size: 12px;
    max-width: 20px;
    max-height: 20px;
    margin: 5px;
    &:hover,
    &:focus-visible {
      background-color: var(--color__blue--700);
    }
  }
}
