body {
  overflow-y: hidden;
}

.titlebar {
  padding: 4px;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 32px;

  background: #2A81BB;
  border-bottom: 1px solid #8EC0E1;
  color: #FFFFFF;

  -webkit-app-region: drag;

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

    .nav-button.is-active {
      background: #1A6CA3;
      border: 1px solid #19699E;
      border-radius: 4px;
    }

    .nav-button {
      padding: 6px 14px;

      background: inherit;
      border: 0;
      border-radius: 4px;
      color: #FFFFFF;

      -webkit-app-region: no-drag;
    }
  }

  .settings-button {
    background: #2A81BB;
    border: 1px solid #10639A;
    border-radius: 4px;
    color: #FFFFFF;

    -webkit-app-region: no-drag;
  }
  .settings-button.is-active {
    background: #1A6CA3;
    border: 1px solid #19699E;
    border-radius: 4px;
  }

  .settings.mac-settings button {
    position: absolute;
    left: 81.02%;
    right: 1.96%;
    top: 18.6%;
    bottom: 18.6%;
  }

  .settings.windows-settings button {
    position: absolute;
    left: 1.96%;
    right: 81.02%;
    top: 18.6%;
    bottom: 18.6%;
  }
}

.wrapper {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}
