html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background: var(--color__white);
  color: var(--color__black--600);
  font-size: var(--size__350);
  text-align: center;
}

.root {
  width: 100%;
  height: 100%;
}

* > * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01rem;
  outline: 0 solid transparent;
  outline-offset: 0;
  transition:
    outline 200ms var(--animation__spring)
    outline-offset 200ms var(--animation__spring);

  &:focus-visible {
  outline: 3px solid var(--color__blue--600);
    outline-offset: var(--size__050);
  }
}

.simplebar-scrollbar::before {
  background-color: rgba(0 0 0 / 65%) !important;
}

.simplebar-track.simplebar-vertical {
  width: 10px;
}
