html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: var(--color__white);
  color: var(--color__black--600);
  font-family: Inter, sans-serif;
  font-size: var(--size__350);
}

.root {
  height: 100%;
  width: 100%;
}

* > * {
  letter-spacing: 0.01rem;
}