* > * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: 0 solid transparent;
  outline-offset: 0;
  transition:
    outline 200ms var(--animation__spring)
    outline-offset 200ms var(--animation__spring);

  &:focus-visible {
    outline: 3px solid var(--color__blue--600);
    outline-offset: var(--size__050);
  }
}


html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background: var(--color__white);
  color: var(--color__black--800);
  font-size: var(--size__500);
  font-weight: 400;
  letter-spacing: calc(1em * 0.005);
  line-height: 1.425rem;
  text-align: center;
}

p {
  letter-spacing: calc(1em * 0.025);
}

.root {
  width: 100%;
  height: 100%;
}

.simplebar-scrollbar::before {
  background-color: rgba(0 0 0 / 65%) !important;
}

.simplebar-track.simplebar-vertical {
  width: 10px;
}
