
.labelRoot {
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
  }

.input {
    display: inline-flex;
    width: 200px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px var(--color__black--500);
    color: var(--color__black--900);
    font-size: 15px;
    line-height: 1;
 }

 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 0.7; /* Firefox */
}

.input:focus {
  background-color: var(--color__black--050);
 }

.input::selection {
    background-color: var(--color__black--500);
 }

.div {
  display: 'flex';
  flex-wrap: wrap;
  align-items: center;
  padding: '0 20px';
  gap: 15;
}
