.alert {
  padding: var(--size__250) var(--size__350);
  border-radius: var(--size__100);
  color: var(--color__yellow--750);
  font-size: var(--text__normal);
  text-align: center;

  &.isWarning {
    background-color: var(--color__yellow--050);
  }
}
