.alert {
  padding: var(--size__250) var(--size__350);
  border-radius: var(--size__100);
  color: var(--color__yellow--750);
  font-weight: 600;
  text-align: center;

  &.isWarning {
    background-color: var(--color__yellow--100);
  }
}
