@use "../../css/vars/colors" as colors;

.wrapper{
  position: relative;
  z-index: 0;

  &:has([aria-expanded="true"]) {
    z-index: 1;
  }
}

.innerWrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: var(--size__200);
  padding-top: var(--size__350);
  padding-bottom: var(--size__500);
  border: 1px solid var(--color__black--200);
  border-radius: var(--size__100);
  margin: var(--size__250);
  margin-bottom: var(--size__200);
  background-color: var(--color__white);
  cursor: pointer;
  text-align: left;
  transition: all 200ms cubic-bezier(0.65, 0, 0.35, 1);

  &:hover,
  &:focus-visible  {
    background-color: var(--color__black--050);
  }

  .isStarting & {
    cursor: default;
  }

  .isPending & {
    cursor: default;
  }

  .isCompleted & {
    border: 1px solid var(--color__green--350);
    background-color: var(--color__green--050);
    color: var(--color__green--700);
  }

  .isActive & {
    border: 1px solid var(--color__blue--350);
    background-color: var(--color__blue--050);
    color: var(--color__blue--700);
  }

  .isInterrupted & {
    border: 1px solid var(--color__yellow--350);
    background-color: var(--color__yellow--050);
    color: var(--color__yellow--700);
  }

  .isError & {
    border: 1px solid var(--color__red--350);
    background-color: var(--color__red--050);
    color: var(--color__red--700);
  }

  .isCompleted &:hover,
  .isCompleted &:focus-visible  {
    border: 1px solid var(--color__green--500);
    background-color: var(--color__green--100);
    color: var(--color__green--850);
  }

  .isActive &:hover,
  .isActive &:focus-visible  {
    border: 1px solid var(--color__blue--500);
    background-color: var(--color__blue--100);
    color: var(--color__blue--850);
  }

  .isInterrupted &:hover,
  .isInterrupted &:focus-visible  {
    border: 1px solid var(--color__yellow--500);
    background-color: var(--color__yellow--100);
    color: var(--color__yellow--850);
  }

  .isError &:hover,
  .isError &:focus-visible  {
    border: 1px solid var(--color__red--500);
    background-color: var(--color__red--100);
    color: var(--color__red--850);
  }

  .wrapper:first-child & {
    margin-top: 0;
  }
}

.name {
  position: relative;
  z-index: 2;
  margin: 0;
  color: var(--color__black--700);
  font-size: var(--text__small);
  font-weight: 600;
  letter-spacing: 0.03rem;

  .isActive & {
    color: var(--color__blue--700);
  }

  .isCompleted & {
    color: var(--color__green--700);
  }

  .isError & {
    color: var(--color__red--700);
  }

  .innerWrapper:hover &,
  .innerWrapper:focus-visible & {
    .isActive & {
      color: var(--color__blue--850);
    }

    .isCompleted & {
      color: var(--color__green--850);
    }

    .isError & {
      color: var(--color__red--850);
    }
  }
}

.meta {
  position: relative;
  z-index: 3;
  display: flex;
  height: 1.75rem; // Height of action buttons
  justify-content: space-between;
  margin-top: var(--size__100);
  font-size: var(--text__small);
}

.metaPrimary {
  display: flex;
  overflow: hidden;
  flex-shrink: 1;
  align-items: center;

  // TODO EDD-44 Revisit this method of adding the margin
  & > div {
    margin-right: var(--size__200);

    &:last-child {
      margin-right: 0;
    }
  }
}

.percentComplete {
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: 600;
}

.displayStatus {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  font-weight: 600;
}

.statusDescription {
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.statusDescriptionIcon {
  margin-right: var(--size__100);

  .isCompleted & {
    color: var(--color__green--500);
  }

  &.spinner {
    animation: spinnerRotate 2s linear infinite;
  }
}

.statusInformation {
  display: flex;
  align-items: center;
  margin: 0;
}

.statusInformationTooltip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--size__150);
  color: var(--color__black--600);
  cursor: default;
  text-decoration: underline;

  &:hover {
    color: var(--color__black--700);
  }
}

.statusInformationIcon {
  margin-right: var(--size__050);
}

.hasErrorsIcon {
  margin-right: var(--size__100);
  color: var(--color__red--550);
}

.metaSecondary {
  position: fixed;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  padding-left: var(--size__100);
  opacity: 0;
  pointer-events: none;
  user-select: none;
  visibility: hidden;

  &:focus-within,
  .innerWrapper:hover &,
  .innerWrapper:focus-visible & {
    position: relative;
    display: flex;
    width: auto;
    animation: metaSecondaryShow 500ms forwards var(--animation__spring);
    pointer-events: all;
    user-select: initial;
    visibility: visible;
  }
}

.action {
  margin-right: var(--size__200);

  &:last-child {
    margin-right: 0;
  }
}

.progress {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
}

.progressBackground {
  position: absolute;
  z-index: 0;
  inset: 0 100% 0 0;
  transition: all 250ms cubic-bezier(0.65, 0, 0.35, 1);

  .isActive & {
    background-color: var(--color__blue--100);

    .wrapper:hover & {
      background-color: var(--color__blue--150);
    }
  }
}

@keyframes metaSecondaryShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes spinnerRotate {
  from {
    transform:rotate(0deg);
  }

  to {
    transform:rotate(360deg);
  }
}
