.displayStatus {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
}

.statusDescriptionIcon {
  margin-right: var(--size__100);

  .isCompleted & {
    color: var(--color__green--500);
  }

  &.spinner {
    animation: spinnerRotate 2s linear infinite;
  }
}

.hasErrorsIcon {
  margin-right: var(--size__100);
  color: var(--color__red--550);
}

@keyframes spinnerRotate {
  from {
    transform:rotate(0deg);
  }

  to {
    transform:rotate(360deg);
  }
}
