.statusDescription {
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--text__smaller);
}

.statusInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  font-size: var(--text__smaller);
}

.statusInformationTooltip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--size__150);
  color: var(--color__black--600);
  cursor: default;
  text-decoration: underline;
  font-size: var(--text__smaller);

  &:hover {
    color: var(--color__black--700);
  }
}

.statusInformationIcon {
  margin-right: var(--size__050);
}
