.message {
  margin-bottom: var(--size__250);
  text-align: center;
}

.actions {
  text-align: center;
}

.actionsButton {
  margin-right: var(--size__200);

  &:last-child {
    margin-right: 0;
  }
}
