:root {
  --size__000: 0rem;
  --size__050: 0.125rem;
  --size__100: 0.25rem;
  --size__150: 0.375rem;
  --size__175: 0.4375rem;
  --size__200: 0.5rem;
  --size__250: 0.625rem;
  --size__300: 0.75rem;
  --size__325: 0.8125rem;
  --size__350: 0.875rem;
  --size__500: 1rem;
  --size__550: 1.25rem;
  --size__600: 1.5rem;
  --size__700: 3.0rem;
  --size__800: 4.5rem;
  --size__900: 5rem;

  // Text sizes
  --text__smaller: var(--size__300);
  --text__small: var(--size__325);
  --text__normal: var(--size__350);
  --text__large: var(--size__500);
  --text__larger: var(--size__550);
}