.statusInformationByteStats {
  padding-left: 5px;
  margin: 0;
  font-size: var(--text__smaller);
}

.statusInformationIcon {
  position: relative;
  top: 0.1rem;
  margin-right: var(--size__100);
  color: var(--color__black--600);
}
